@charset "UTF-8";
/* google fonts imported: 

    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Alfa Slab One', cursive;
    
*/
/* line 25, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
body {
  margin: 0px; }

/* line 29, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header {
  width: 100%;
  height: 500px;
  background-image: url("/assets/img/bg.png");
  background-color: rgba(28, 49, 68, 0.92);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity op 0.5s;
  transition-delay: 0.1s;
  transition: all 0.2;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  top: 0px;
  margin-top: 0px; }

/* line 61, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header h1,
h3 {
  font-family: Helvetica, sans-serif;
  line-height: 1em;
  margin-top: 20px;
  text-align: center;
  margin-top: 70px;
  color: #fff !important;
  /*text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.8);*/ }

/* line 72, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header h1 {
  font-size: 4em; }

/* line 76, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header h3 {
  font-size: 2em; }

/* line 80, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header nav {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, sans-serif;
  line-height: 1em;
  text-align: center;
  color: gray; }

/* line 90, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* line 97, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.round {
  border-radius: 50%; }

/* line 101, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#nav {
  height: 50px;
  color: #fff;
  font-family: Helvetica, sans-serif;
  transition: all .2s ease;
  padding: 5px;
  text-decoration: none;
  line-height: 35px;
  text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  vertical-align: middle; }

/* line 113, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#navUl {
  list-style-type: none;
  display: inline !important;
  z-index: 9999; }

/* line 119, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#navUl li {
  display: block;
  width: auto;
  display: inline !important; }

/* line 125, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#navUl li::after {
  padding: 10px;
  content: "I"; }

/* line 131, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#navUl li:last-child::after {
  padding: 0px;
  content: none; }

/* line 144, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
nav a {
  color: aliceblue;
  transition: all 0.2s; }

/* line 149, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
nav a:hover {
  color: #fff;
  background-blend-mode: hard-light;
  border-radius: 5px;
  text-decoration: none; }

/* line 160, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.displayMobilMenu {
  display: block !important !important; }

/* line 165, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.containerMenuIcon {
  display: inline-block;
  cursor: pointer;
  display: none; }

/* line 171, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.mobilNav {
  position: fixed;
  top: 0px;
  opacity: 1;
  height: 55px;
  width: 100%;
  z-index: 9998;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block; }

/* line 184, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.mobilNav {
  text-align: center;
  display: inline-block;
  background-color: rgba(28, 49, 68, 0.92);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); }

/* line 192, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.mobilNav ul {
  margin-top: 10px;
  list-style-type: none;
  display: inline-flex;
  overflow: hidden;
  text-decoration: none; }

/* line 200, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.mobilNav ul li::after {
  content: "I";
  margin-left: 5px;
  margin-right: 5px;
  color: aliceblue; }

/* line 207, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.mobilNav ul li:last-child::after {
  content: "";
  margin-left: 0px;
  margin-right: 0px; }

/* line 213, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

/* line 224, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* line 229, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.change .bar2 {
  opacity: 0; }

/* line 233, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/* line 239, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.profilimg {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  background-image: url("/assets/img/profil.png");
  background-position: center;
  background-size: cover;
  border: 10px #fff solid;
  margin-top: -180px;
  z-index: 999;
  position: relative;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 0 1px transparent; }

/* line 267, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.profilimg:hover {
  border: 5px #ccc solid; }

/* line 271, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.aboutImg {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

/* line 283, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.card-body {
  padding: 10px;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 291, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.card {
  border-radius: 5px;
  float: left;
  max-width: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

/* line 301, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

/* line 312, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.card:hover img {
  opacity: 0.3; }

/* line 316, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.card:hover .middle {
  opacity: 1; }

/* line 325, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.circleShadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

/* line 332, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

/* line 337, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

/* line 342, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main {
  height: auto;
  width: 100%; }

/* line 347, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 165px;
  font-size: 2.2em;
  transform: rotate(0deg);
  color: black;
  transform: rotate(0deg);
  left: 10px;
  bottom: -0px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

/* line 376, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i {
  transform: rotate(0deg);
  height: 29px;
  width: 29px;
  z-index: 800;
  transition: all 0.3s; }

/* line 384, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i:hover {
  cursor: pointer; }

/* line 388, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="facebook"]:hover {
  color: #3B5998; }

/* line 392, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="github"]:hover {
  color: #6e5494; }

/* line 396, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="youtube"]:hover {
  color: #c4302b; }

/* line 400, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="insta"]:hover {
  color: #d6249f; }

/* line 404, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main article {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }

/* line 411, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main {
  margin-top: 100px; }

/* line 415, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#AboutMe > h1 {
  margin-top: 120px; }

/* line 419, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main > article:first-child {
  margin-top: -80px; }

/* line 423, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerbuffer {
  height: 200px; }

/* line 427, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
footer {
  margin-top: 50px;
  min-height: 100px;
  background-color: #ccc;
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 200px;
  background: #1C3144;
  width: 100%; }

/* line 439, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  position: relative;
  width: 132px;
  font-size: 2.2em;
  transition: all 0.3s; }

/* line 450, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i:hover {
  cursor: pointer; }

/* line 454, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="facebook"]:hover {
  color: #3B5998; }

/* line 458, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="github"]:hover {
  color: #6e5494; }

/* line 462, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="youtube"]:hover {
  color: #c4302b; }

/* line 466, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="insta"]:hover {
  color: #d6249f; }

/* line 470, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerFooter {
  bottom: -110px;
  position: relative;
  height: 50px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 50px; }

/* line 483, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.center {
  margin-left: auto;
  margin-right: auto; }

/* line 488, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.farvebg {
  background-color: #102E4A;
  color: #fff;
  padding: 25px;
  min-height: 400; }

/* line 495, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.farvebg2 {
  background-color: #224c72;
  color: #fff;
  padding: 25px;
  min-height: 400; }

/* line 504, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu {
  position: fixed;
  top: 0px;
  opacity: 1;
  height: 65px;
  transition: .2 all ease;
  animation-name: mobilMenu;
  animation-duration: 0.2s;
  z-index: 9999;
  background-image: none;
  clip-path: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

/* line 518, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu nav {
  margin-top: 8px; }

/* line 522, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#projects {
  padding-top: 80px;
  padding-bottom: 80px; }

/* line 527, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form p {
  margin-bottom: -15px;
  margin-top: 10px; }

/* line 532, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form input[type="text"] {
  border-radius: 5px;
  border: 1px solid lightblue;
  padding: 5px;
  background-color: ghostwhite; }

/* line 539, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form textarea {
  border-radius: 5px;
  border: 1px solid lightblue;
  padding: 5px;
  background-color: ghostwhite;
  height: 150px;
  width: 250px;
  max-height: 300px;
  max-width: 700px; }

/* line 550, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form input[type="submit"] {
  border-radius: 5px;
  border: 1px solid lightblue;
  padding: 5px;
  background-color: ghostwhite;
  transition: all 0.3s; }

/* line 558, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form input[type="submit"]:hover {
  border-radius: 5px;
  border: 1px solid darkblue;
  padding: 5px;
  background-color: darkgray; }

/* line 565, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.borderRadius {
  border-radius: 5px; }

/* line 569, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#goToTopBut {
  width: 50px;
  height: 50px;
  background-color: darkslategrey;
  bottom: 0px;
  right: 20px;
  position: fixed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  cursor: pointer; }

/* line 582, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#goToTopBut img {
  width: 30px;
  height: 30px; }

/* line 587, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer {
  display: flex;
  width: 100%;
  max-width: 800px;
  color: white; }

/* line 595, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer h3 {
  color: white !important; }

/* line 599, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div {
  min-height: 250px;
  transition: all 0.2s;
  overflow: hidden;
  max-height: 250px;
  display: inline; }

/* line 607, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div > div:first-child {
  white-space: nowrap;
  float: left;
  width: 50px;
  height: 250px;
  overflow: hidden;
  vertical-align: middle;
  padding: 15px; }

/* line 617, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.content {
  float: right;
  position: relative;
  width: calc(100% - 60px) !important;
  padding: 10px; }

/* line 624, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div > div:first-child h2 {
  transform: rotate(-90deg);
  transform-origin: bottom right;
  margin-left: -135px;
  text-align: left; }

/* line 631, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(1) {
  background-color: #1C3144; }

/* line 636, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(2) {
  background-color: #102E4A; }

/* line 641, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(2) img {
  width: 100%;
  text-align: center;
  margin-right: -40px;
  max-height: 180px; }

/* line 648, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(3) {
  background-color: #224c72;
  width: 100%; }

@keyframes mobilMenu {
  from {
    top: -25px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }

@keyframes ani {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes ani2 {
  from {
    opacity: 0;
    background-blend-mode: overlay; }
  to {
    opacity: 1;
    background-blend-mode: normal; } }

@keyframes spin {
  0% {
    border: 2px #fff solid;
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    border: 10px #fff solid; } }

/* line 734, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani {
  animation-name: ani;
  animation-duration: 0.9s; }

/* line 739, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani2 {
  animation-name: ani2;
  animation-duration: 1.4s; }

/* line 744, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani3 {
  animation-name: ani;
  animation-duration: 0.2s; }

/* line 749, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani4 {
  animation-name: spin;
  animation-duration: 0.8s; }

/* line 754, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu h1 {
  display: none; }

/* line 758, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu h3 {
  display: none; }

/* line 762, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.displayNone {
  opacity: 0;
  display: none; }

/* line 767, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.list {
  list-style: circle;
  list-style-type: armenian;
  list-style-position: outside; }

/* line 773, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/* line 780, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.space {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  transition-delay: 0.1; }

/* line 787, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#titel {
  font-family: 'Gloria Hallelujah', cursive; }

/* line 793, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#name {
  font-family: 'Paytone One', sans-serif; }

/* line 803, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.activeLink {
  color: orange;
  transition: 0.2 all;
  font-size: 1.2em; }

/* line 809, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.mobilNav {
  display: none; }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  /* line 826, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 400px; }
  /* line 829, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 50px; }
  /* line 833, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 3em; }
  /* line 836, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 2em; }
  /* line 839, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        left: 160px;
        bottom: 50px;
    }
    */
  /* line 850, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 75px; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* line 858, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 300px; }
  /* line 861, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 30px; }
  /* line 865, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 868, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 871, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        left: 160px;
        bottom: 50px;
    }
    */
  /* line 882, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 70px; } }

@media all and (min-width: 480px) and (max-width: 768px) {
  /* line 889, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 260px; }
  /* line 892, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 20px; }
  /* line 896, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 899, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 902, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /* line 908, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  #name {
    margin-top: -12px; }
  /*
    .somedia {
        transform: rotate(0deg);
        left: 20px;
        bottom: -0px;
    }
    .somedia > i {
        transform: rotate(0deg);
    }
    */
  /* line 921, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 65px; } }

@media all and (max-width: 480px) {
  /* line 929, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 260px; }
  /* line 932, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 20px; }
  /* line 936, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 939, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 942, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        transform: rotate(0deg);
        left: 20px;
        bottom: -10px;
    }
    .somedia > i {
        transform: rotate(0deg);
    }
    */
  /* line 957, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 60px; }
  /* line 962, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .card {
    max-width: 190px; } }

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* line 1000, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    clip-path: none; }
  /* line 1004, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .card {
    max-width: 100%; } }

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  /* line 1013, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    clip-path: none; } }

/* iPad Portrait */
/* iPad Landscape */
/* timeline */
/* line 1031, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
* {
  box-sizing: border-box; }

/* Set a background color */
/* line 1037, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif; }

/* Place the container to the left */
/* line 1045, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.left {
  left: 0; }

/* Place the container to the right */
/* line 1051, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.right {
  left: 50%; }

/* Add arrows to the left container (pointing right) */
/* line 1057, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white; }

/* Add arrows to the right container (pointing left) */
/* line 1072, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent; }

/* Fix the circle for containers on the right side */
/* line 1088, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.right::after {
  left: -16px; }

/* The actual content */
/* line 1094, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.content {
  padding: 20px 30px;
  /* background-color: white;*/
  position: relative;
  border-radius: 6px; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  /* line 1105, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline::after {
    left: 31px; }
  /* line 1112, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  #name {
    margin-top: -12px; }
  /* Full-width containers */
  /* line 1117, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  /* Make sure that all arrows are pointing leftwards */
  /* line 1124, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  /* Make sure all circles are at the same spot */
  /* line 1132, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .left::after,
  .right::after {
    left: 15px; }
  /* Make all right containers behave like the left ones */
  /* line 1138, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .right {
    left: 0%; }
  /* line 1143, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .containerMenuIcon {
    position: fixed;
    display: block;
    right: 15px;
    top: 5px;
    z-index: 9999; }
  /* line 1152, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .mobilNav {
    display: block;
    height: auto; }
  /* line 1157, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .mobilNav ul {
    list-style-type: none;
    display: block;
    padding: 0px; }
  /* line 1163, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .mobilNav ul li::after {
    content: "";
    margin: 0px; }
  /* line 1171, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  #navUl {
    position: relative;
    transition: all 0.5s;
    display: none !important; } }

/* line 1184, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.Skillscontainer {
  width: calc(100% -100px);
  background-color: #ddd;
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 5px;
  margin-bottom: 10px; }

/* line 1195, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.skills {
  text-align: right;
  padding-right: 20px;
  margin-left: 0px;
  line-height: 30px;
  color: white;
  border-radius: 5px; }

/* line 1204, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.html {
  width: 90%;
  background-color: #4CAF50; }

/* line 1209, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.css {
  width: 80%;
  background-color: #2196F3; }

/* line 1214, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.js {
  width: 65%;
  background-color: #f44336; }

/* line 1219, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.java {
  width: 80%;
  background-color: #808080; }

/* line 1224, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.python {
  width: 20%;
  background-color: orange; }

/* entire container, keeps perspective */
/* line 1233, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flip-container {
  perspective: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

/* flip the pane when hovered */
/* line 1243, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }
  /* line 1248, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .flip-container:hover .flipper .front,
  .flip-container.hover .flipper .front {
    z-index: 1; }

/* line 1254, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flip-container,
.front,
.back {
  width: 320px;
  height: 320px;
  border-radius: 5px; }

/* line 1262, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.back > h2 {
  font-size: 18px;
  margin: 10px;
  color: rgba(28, 49, 68, 0.92);
  text-align: center; }

/* flip speed goes here */
/* line 1271, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
/* line 1281, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
/* line 1293, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  background-color: black; }

/* line 1303, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front > h2 {
  text-align: center;
  margin-top: 200px;
  text-shadow: 0px 0px 10px #969696; }

/* line 1309, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front > span {
  position: relative;
  top: 15px;
  margin-left: 5px;
  background-color: white;
  color: darkslategrey;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); }

/* line 1321, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front > span:first-child {
  margin-left: 10px; }

/* back, initially hidden pane */
/* line 1328, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.back {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background-color: aliceblue;
  padding: 10px;
  color: #1C3144;
  z-index: 9999999; }

/* line 1339, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(1) > div:nth-child(2) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/drone.svg); }

/* line 1344, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(1) > div:nth-child(3) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/app.png);
  background-size: cover;
  background-position: center; }

/* line 1351, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(2) > div:nth-child(2) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/webside.png);
  background-position: center;
  background-size: cover; }

/* line 1358, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(1) > div:nth-child(4) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/motionD.jpg);
  background-position: center;
  background-size: cover; }

/* line 1365, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(2) > div:nth-child(3) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/ping.png);
  background-position: center;
  background-size: cover; }

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 1375, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul {
  padding: 50px 0;
  color: black; }

/* line 1381, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #102E4A;
  line-height: 1em;
  text-align: left;
  color: black; }

/* line 1393, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li p {
  margin-bottom: 0px; }

/* line 1397, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

/* line 1402, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li img {
  height: 60px;
  border-radius: 5px;
  float: right;
  margin-top: -20px;
  margin-left: 5px; }

/* line 1411, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit; }

/* line 1424, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 10px;
  padding-bottom: 20px;
  background: aliceblue;
  border-radius: 5px;
  min-height: 80px; }

/* line 1435, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.kursusList ul {
  list-style: none; }

/* line 1439, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid; }

/* line 1448, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(odd) div {
  left: 45px; }

/* line 1452, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent aliceblue transparent transparent; }

/* line 1458, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(even) div {
  left: -390px; }

/* line 1462, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent aliceblue; }

/* line 1470, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px; }

/* line 1477, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.firstsemester,
.secsemester,
.trisemester {
  position: relative;
  top: 30px; }

/* line 1484, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.firstsemester::after,
.secsemester::after,
.trisemester::after,
.firesemester::after {
  position: relative;
  content: '_';
  opacity: 0; }

/* timeline EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 1496, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li::after {
  transition: background .5s ease-in-out; }

/* line 1500, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li.in-view::after {
  background: orange; }

/*

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

*/
/* timeline responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 800px) {
  /* line 1532, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li div {
    width: 250px; }
  /* line 1535, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li:nth-child(even) div {
    left: -290px; } }

@media screen and (max-width: 600px) {
  /* line 1541, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li {
    margin-left: 20px; }
  /* line 1544, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li div {
    width: calc(100vw - 130px);
    padding-bottom: 20px; }
  /* line 1548, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li:nth-child(even) div {
    left: 45px; }
  /* line 1551, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent aliceblue transparent transparent; } }

@media screen and (max-width: 400px) {
  /* line 1559, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li div {
    padding-bottom: 10px; } }

/*# sourceMappingURL=app.css.map */
