/* google fonts imported: 

    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Alfa Slab One', cursive;
    
*/
/* line 14, /Users/troelslund/Desktop/work web design/sass/app.scss */
body {
  margin: 0px; }

/* line 18, /Users/troelslund/Desktop/work web design/sass/app.scss */
header {
  width: 100%;
  height: 500px;
  background-image: url("/assets/img/pattern%20(1).png");
  background-image: url("/assets/img/pattern%20(1).svg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity op 0.5s;
  transition-delay: 0.1s; }

/* line 33, /Users/troelslund/Desktop/work web design/sass/app.scss */
header h1,
h3 {
  font-family: Helvetica, sans-serif;
  line-height: 1em;
  margin-top: 20px;
  text-align: center;
  margin-top: 70px;
  color: #fff !important;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.8); }

/* line 44, /Users/troelslund/Desktop/work web design/sass/app.scss */
header h1 {
  font-size: 4em; }

/* line 48, /Users/troelslund/Desktop/work web design/sass/app.scss */
header h3 {
  font-size: 2em; }

/* line 52, /Users/troelslund/Desktop/work web design/sass/app.scss */
header nav {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, sans-serif;
  line-height: 1em;
  text-align: center;
  color: gray; }

/* line 62, /Users/troelslund/Desktop/work web design/sass/app.scss */
header > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* line 69, /Users/troelslund/Desktop/work web design/sass/app.scss */
.round {
  border-radius: 50%; }

/* line 73, /Users/troelslund/Desktop/work web design/sass/app.scss */
nav > a {
  color: #fff;
  font-family: Helvetica, sans-serif;
  transition: all .2s ease;
  padding: 5px;
  text-decoration: none;
  line-height: 35px; }

/* line 82, /Users/troelslund/Desktop/work web design/sass/app.scss */
nav > a:hover {
  color: dimgray;
  background-color: aliceblue;
  background-blend-mode: hard-light;
  border-radius: 5px;
  text-decoration: none; }

/* line 94, /Users/troelslund/Desktop/work web design/sass/app.scss */
.profilimg {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  background-image: url("../assets/img/profil.png");
  background-position: center;
  background-size: cover;
  border: 10px #fff solid;
  margin-top: -180px;
  z-index: 999;
  position: relative;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }

/* line 118, /Users/troelslund/Desktop/work web design/sass/app.scss */
.profilimg:hover {
  border: 5px #fff solid; }

/* line 122, /Users/troelslund/Desktop/work web design/sass/app.scss */
main {
  height: auto;
  width: 100%; }

/* line 127, /Users/troelslund/Desktop/work web design/sass/app.scss */
.somedia {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 165px;
  font-size: 2.2em;
  left: 190px;
  bottom: 50px;
  transform: rotate(-4deg);
  color: black;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }

/* line 142, /Users/troelslund/Desktop/work web design/sass/app.scss */
.somedia > i {
  transform: rotate(4deg);
  height: 29px;
  width: 29px;
  z-index: 800; }

/* line 149, /Users/troelslund/Desktop/work web design/sass/app.scss */
.somedia:hover {
  cursor: pointer;
  color: antiquewhite; }

/* line 154, /Users/troelslund/Desktop/work web design/sass/app.scss */
main article {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }

/* line 161, /Users/troelslund/Desktop/work web design/sass/app.scss */
#aboutMe > h1 {
  margin-top: 120px; }

/* line 165, /Users/troelslund/Desktop/work web design/sass/app.scss */
main > article:first-child {
  margin-top: -80px; }

/* line 169, /Users/troelslund/Desktop/work web design/sass/app.scss */
.footerbuffer {
  height: 200px; }

/* line 173, /Users/troelslund/Desktop/work web design/sass/app.scss */
footer {
  margin-top: 50px;
  min-height: 100px;
  background-color: #ccc;
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 200px;
  background: #000;
  width: 100%;
  background-image: url(../assets/img/ep_naturalblack.png); }

/* line 186, /Users/troelslund/Desktop/work web design/sass/app.scss */
.footerMedia {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  position: relative;
  width: 132px;
  font-size: 2.2em; }

/* line 196, /Users/troelslund/Desktop/work web design/sass/app.scss */
.footerFooter {
  bottom: -110px;
  position: relative;
  height: 50px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 50px; }

/* line 218, /Users/troelslund/Desktop/work web design/sass/app.scss */
.center {
  margin-left: auto;
  margin-right: auto; }

/* line 223, /Users/troelslund/Desktop/work web design/sass/app.scss */
.farvebg {
  background-color: black;
  clip-path: polygon(0 100% calc(100% - 5vw), 100% 0, 100% calc(100% - 5vw), 0 100%);
  background-image: url(../assets/img/ep_naturalblack.png);
  color: #fff;
  padding: 25px;
  margin-top: 80px;
  min-height: 400; }

/* line 233, /Users/troelslund/Desktop/work web design/sass/app.scss */
.fixedMenu {
  position: fixed;
  top: 0px;
  opacity: 1;
  height: 90px;
  transition: .2 all ease;
  animation-name: mobilMenu;
  animation-duration: 0.2s;
  z-index: 9999; }

/* line 244, /Users/troelslund/Desktop/work web design/sass/app.scss */
#projects {
  padding-top: 80px;
  padding-bottom: 80px; }

@keyframes mobilMenu {
  from {
    top: -25px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }

@keyframes ani {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes ani2 {
  from {
    opacity: 0;
    background-blend-mode: overlay; }
  to {
    opacity: 1;
    background-blend-mode: normal; } }

@keyframes spin {
  0% {
    border: 2px #fff solid;
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    border: 10px #fff solid; } }

/* line 295, /Users/troelslund/Desktop/work web design/sass/app.scss */
.ani {
  animation-name: ani;
  animation-duration: 0.9s; }

/* line 300, /Users/troelslund/Desktop/work web design/sass/app.scss */
.ani2 {
  animation-name: ani2;
  animation-duration: 1.4s; }

/* line 305, /Users/troelslund/Desktop/work web design/sass/app.scss */
.ani3 {
  animation-name: ani;
  animation-duration: 0.2s; }

/* line 310, /Users/troelslund/Desktop/work web design/sass/app.scss */
.ani4 {
  animation-name: spin;
  animation-duration: 0.8s; }

/* line 315, /Users/troelslund/Desktop/work web design/sass/app.scss */
.fixedMenu h1 {
  display: none; }

/* line 319, /Users/troelslund/Desktop/work web design/sass/app.scss */
.fixedMenu h3 {
  display: none; }

/* line 323, /Users/troelslund/Desktop/work web design/sass/app.scss */
.displayNone {
  opacity: 0;
  display: none; }

/* line 328, /Users/troelslund/Desktop/work web design/sass/app.scss */
.list {
  list-style: circle;
  list-style-type: armenian;
  list-style-position: outside; }

/* line 334, /Users/troelslund/Desktop/work web design/sass/app.scss */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/* line 341, /Users/troelslund/Desktop/work web design/sass/app.scss */
.space {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  transition-delay: 0.1; }

/* line 348, /Users/troelslund/Desktop/work web design/sass/app.scss */
#titel {
  font-family: 'Gloria Hallelujah', cursive; }

/* line 355, /Users/troelslund/Desktop/work web design/sass/app.scss */
#name {
  font-family: 'Paytone One', sans-serif; }

/* line 365, /Users/troelslund/Desktop/work web design/sass/app.scss */
.activeLink {
  color: aliceblue;
  text-decoration: underline; }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  /* line 379, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header {
    height: 400px; }
  /* line 382, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1,
  h3 {
    margin-top: 50px; }
  /* line 386, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1 {
    font-size: 3em; }
  /* line 389, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h3 {
    font-size: 2em; }
  /* line 392, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /* line 397, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .somedia {
    left: 160px;
    bottom: 50px; }
  /* line 401, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .fixedMenu {
    height: 75px; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* line 408, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header {
    height: 300px; }
  /* line 411, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1,
  h3 {
    margin-top: 30px; }
  /* line 415, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 418, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 421, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /* line 426, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .somedia {
    left: 160px;
    bottom: 50px; }
  /* line 430, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .fixedMenu {
    height: 70px; } }

@media all and (min-width: 480px) and (max-width: 768px) {
  /* line 437, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header {
    height: 260px; }
  /* line 440, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1,
  h3 {
    margin-top: 20px; }
  /* line 444, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 447, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 450, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /* line 455, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .somedia {
    transform: rotate(0deg);
    left: 20px;
    bottom: -0px; }
  /* line 460, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .somedia > i {
    transform: rotate(0deg); }
  /* line 463, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .fixedMenu {
    height: 65px; } }

@media all and (max-width: 480px) {
  /* line 470, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header {
    height: 260px; }
  /* line 473, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1,
  h3 {
    margin-top: 20px; }
  /* line 477, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 480, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 483, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /* line 488, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .somedia {
    transform: rotate(0deg);
    left: 20px;
    bottom: -10px; }
  /* line 493, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .somedia > i {
    transform: rotate(0deg); }
  /* line 496, /Users/troelslund/Desktop/work web design/sass/app.scss */
  .fixedMenu {
    height: 60px; } }

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* line 523, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header {
    clip-path: none; } }

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  /* line 530, /Users/troelslund/Desktop/work web design/sass/app.scss */
  header {
    clip-path: none; } }

/* iPad Portrait */
/* iPad Landscape */

/*# sourceMappingURL=app.css.map */