@charset "UTF-8";
/* google fonts imported:

    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Alfa Slab One', cursive;

*/
/* line 24, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
body {
  margin: 0px; }

.backbtn{
    margin-right: 10px;
}


/* line 28, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header {
  width: 100%;
  height: 500px;
  background-image: url("/assets/img/bg.png");
  background-color: rgba(28, 49, 68, 0.92);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity op 0.5s;
  transition-delay: 0.1s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); }

/* line 57, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header h1,
h3 {
  font-family: Helvetica, sans-serif;
  line-height: 1em;
  margin-top: 20px;
  text-align: center;
  margin-top: 70px;
  color: #fff !important;
  /*text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.8);*/ }

/* line 68, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header h1 {
  font-size: 4em; }

/* line 72, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header h3 {
  font-size: 2em; }

/* line 76, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header nav {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, sans-serif;
  line-height: 1em;
  text-align: center;
  color: gray; }

/* line 86, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
header > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* line 93, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.round {
  border-radius: 50%; }

/* line 97, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
nav > a {
  color: #fff;
  font-family: Helvetica, sans-serif;
  transition: all .2s ease;
  padding: 5px;
  text-decoration: none;
  line-height: 35px;
  text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); }

/* line 114, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
nav > a:hover {
  color: dimgray;
  background-color: aliceblue;
  background-blend-mode: hard-light;
  border-radius: 5px;
  text-decoration: none; }

/* line 124, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.profilimg {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  background-image: url("../assets/img/profil.png");
  background-position: center;
  background-size: cover;
  border: 10px #fff solid;
  margin-top: -180px;
  z-index: 999;
  position: relative;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 0 1px transparent; }

/* line 152, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.profilimg:hover {
  border: 5px #ccc solid; }

/* line 156, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.aboutImg {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

/* line 162, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.card-body {
  padding: 10px;
  color: gray !important; }

/* line 167, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.card {
  border-radius: 5px;
  float: left;
  max-width: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

/* line 182, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.circleShadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

/* line 189, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

/* line 194, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

/* line 199, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main {
  height: auto;
  width: 100%; }

/* line 204, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 165px;
  font-size: 2.2em;
  transform: rotate(0deg);
  color: black;
  transform: rotate(0deg);
  left: 10px;
  bottom: -0px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

/* line 233, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i {
  transform: rotate(0deg);
  height: 29px;
  width: 29px;
  z-index: 800;
  transition: all 0.3s; }

/* line 241, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i:hover {
  cursor: pointer; }

/* line 245, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="facebook"]:hover {
  color: #3B5998; }

/* line 249, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="github"]:hover {
  color: #6e5494; }

/* line 253, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="youtube"]:hover {
  color: #c4302b; }

/* line 257, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.somedia i[class*="insta"]:hover {
  color: #d6249f; }

/* line 261, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main article {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }

/* line 268, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main {
  margin-top: 100px; }

/* line 272, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#AboutMe > h1 {
  margin-top: 120px; }

/* line 276, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
main > article:first-child {
  margin-top: -80px; }

/* line 280, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerbuffer {
  height: 200px; }

/* line 284, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
footer {
  margin-top: 50px;
  min-height: 100px;
  background-color: #ccc;
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 200px;
  background: #1C3144;
  width: 100%; }

/* line 296, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  position: relative;
  width: 132px;
  font-size: 2.2em;
  transition: all 0.3s; }

/* line 307, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i:hover {
  cursor: pointer; }

/* line 311, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="facebook"]:hover {
  color: #3B5998; }

/* line 315, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="github"]:hover {
  color: #6e5494; }

/* line 319, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="youtube"]:hover {
  color: #c4302b; }

/* line 323, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerMedia i[class*="insta"]:hover {
  color: #d6249f; }

/* line 327, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.footerFooter {
  bottom: -110px;
  position: relative;
  height: 50px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 50px; }

/* line 340, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.center {
  margin-left: auto;
  margin-right: auto; }

/* line 345, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.farvebg {
  background-color: #102E4A;
  color: #fff;
  padding: 25px;
  min-height: 400; }

/* line 352, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.farvebg2 {
  background-color: #D6FFF6;
  color: #fff;
  padding: 25px;
  min-height: 400; }

/* line 361, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu {
  position: fixed;
  top: 0px;
  opacity: 1;
  height: 65px;
  transition: .2 all ease;
  animation-name: mobilMenu;
  animation-duration: 0.2s;
  z-index: 9999;
  background-image: none;
  clip-path: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

/* line 375, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu nav {
  margin-top: 8px; }

/* line 379, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#projects {
  padding-top: 80px;
  padding-bottom: 80px; }

/* line 384, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form p {
  margin-bottom: -15px;
  margin-top: 10px; }

/* line 389, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form input[type="text"] {
  border-radius: 5px;
  border: 1px solid lightblue;
  padding: 5px;
  background-color: ghostwhite; }

/* line 396, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form textarea {
  border-radius: 5px;
  border: 1px solid lightblue;
  padding: 5px;
  background-color: ghostwhite;
  height: 150px;
  width: 250px;
  max-height: 300px;
  max-width: 700px; }

/* line 407, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form input[type="submit"] {
  border-radius: 5px;
  border: 1px solid lightblue;
  padding: 5px;
  background-color: ghostwhite;
  transition: all 0.3s; }

/* line 415, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
form input[type="submit"]:hover {
  border-radius: 5px;
  border: 1px solid darkblue;
  padding: 5px;
  background-color: darkgray; }

/* line 422, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.borderRadius {
  border-radius: 5px; }

/* line 426, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#goToTopBut {
  width: 50px;
  height: 50px;
  background-color: darkslategrey;
  bottom: 0px;
  right: 20px;
  position: fixed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  cursor: pointer; }

/* line 439, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#goToTopBut img {
  width: 30px;
  height: 30px; }

/* line 444, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer {
  display: flex;
  width: 100%;
  max-width: 800px; }

/* line 451, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer h3 {
  color: black !important; }

/* line 455, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div {
  min-height: 250px;
  transition: all 0.2s;
  overflow: hidden;
  max-height: 250px;
  display: inline; }

/* line 463, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div > div:first-child {
  white-space: nowrap;
  float: left;
  width: 50px;
  height: 250px;
  overflow: hidden;
  vertical-align: middle;
  padding: 15px; }

/* line 473, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.content {
  float: right;
  position: relative;
  width: calc(100% - 60px) !important;
  padding: 10px; }

/* line 480, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div > div:first-child h2 {
  transform: rotate(-90deg);
  transform-origin: bottom right;
  margin-left: -135px;
  text-align: left; }

/* line 487, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(1) {
  background-image: url("../assets/img/pattern%20(5).svg"); }

/* line 491, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(2) {
  background-image: url("../assets/img/pattern%20(6).svg");
  color: black !important; }

/* line 496, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(2) img {
  width: 100%;
  text-align: center;
  margin-right: -40px;
  max-height: 180px; }

/* line 503, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.newsContainer > div:nth-child(3) {
  background-image: url("../assets/img/pattern%20(9).svg");
  width: 100%; }

@keyframes mobilMenu {
  from {
    top: -25px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }

@keyframes ani {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes ani2 {
  from {
    opacity: 0;
    background-blend-mode: overlay; }
  to {
    opacity: 1;
    background-blend-mode: normal; } }

@keyframes spin {
  0% {
    border: 2px #fff solid;
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    border: 10px #fff solid; } }

/* line 588, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani {
  animation-name: ani;
  animation-duration: 0.9s; }

/* line 593, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani2 {
  animation-name: ani2;
  animation-duration: 1.4s; }

/* line 598, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani3 {
  animation-name: ani;
  animation-duration: 0.2s; }

/* line 603, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.ani4 {
  animation-name: spin;
  animation-duration: 0.8s; }

/* line 608, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu h1 {
  display: none; }

/* line 612, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.fixedMenu h3 {
  display: none; }

/* line 616, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.displayNone {
  opacity: 0;
  display: none; }

/* line 621, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.list {
  list-style: circle;
  list-style-type: armenian;
  list-style-position: outside; }

/* line 627, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/* line 634, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.space {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  transition-delay: 0.1; }

/* line 641, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#titel {
  font-family: 'Gloria Hallelujah', cursive; }

/* line 647, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
#name {
  font-family: 'Paytone One', sans-serif; }

/* line 657, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.activeLink {
  color: orange;
  transition: 0.2 all;
  font-size: 1.5em; }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  /* line 677, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 400px; }
  /* line 680, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 50px; }
  /* line 684, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 3em; }
  /* line 687, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 2em; }
  /* line 690, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        left: 160px;
        bottom: 50px;
    }
    */
  /* line 701, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 75px; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* line 708, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 300px; }
  /* line 711, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 30px; }
  /* line 715, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 718, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 721, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        left: 160px;
        bottom: 50px;
    }
    */
  /* line 732, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 70px; } }

@media all and (min-width: 480px) and (max-width: 768px) {
  /* line 739, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 260px; }
  /* line 742, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 20px; }
  /* line 746, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 749, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 752, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        transform: rotate(0deg);
        left: 20px;
        bottom: -0px;
    }
    .somedia > i {
        transform: rotate(0deg);
    }
    */
  /* line 767, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 65px; } }

@media all and (max-width: 480px) {
  /* line 775, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    height: 260px; }
  /* line 778, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1,
  h3 {
    margin-top: 20px; }
  /* line 782, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h1 {
    font-size: 2em; }
  /* line 785, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header h3 {
    font-size: 1em; }
  /* line 788, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .profilimg {
    height: 150px;
    width: 150px;
    margin-top: -130px; }
  /*
    .somedia {
        transform: rotate(0deg);
        left: 20px;
        bottom: -10px;
    }
    .somedia > i {
        transform: rotate(0deg);
    }
    */
  /* line 803, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .fixedMenu {
    height: 60px; }
  /* line 808, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .card {
    max-width: 190px; } }

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */ }

/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }

/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* line 846, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    clip-path: none; }
  /* line 850, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .card {
    max-width: 100%; } }

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  /* line 859, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  header {
    clip-path: none; } }

/* iPad Portrait */
/* iPad Landscape */
/* timeline */
/* line 877, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
* {
  box-sizing: border-box; }

/* Set a background color */
/* line 883, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif; }

/* Place the container to the left */
/* line 891, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.left {
  left: 0; }

/* Place the container to the right */
/* line 897, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.right {
  left: 50%; }

/* Add arrows to the left container (pointing right) */
/* line 903, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white; }

/* Add arrows to the right container (pointing left) */
/* line 918, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent; }

/* Fix the circle for containers on the right side */
/* line 933, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.right::after {
  left: -16px; }

/* The actual content */
/* line 939, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.content {
  padding: 20px 30px;
  /* background-color: white;*/
  position: relative;
  border-radius: 6px; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  /* line 950, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline::after {
    left: 31px; }
  /* Full-width containers */
  /* line 955, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  /* Make sure that all arrows are pointing leftwards */
  /* line 962, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  /* Make sure all circles are at the same spot */
  /* line 970, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .left::after,
  .right::after {
    left: 15px; }
  /* Make all right containers behave like the left ones */
  /* line 976, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .right {
    left: 0%; } }

/* line 984, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.Skillscontainer {
  width: calc(100% -100px);
  background-color: #ddd;
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 5px;
  margin-bottom: 10px; }

/* line 995, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.skills {
  text-align: right;
  padding-right: 20px;
  margin-left: 0px;
  line-height: 30px;
  color: white;
  border-radius: 5px; }

/* line 1004, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.html {
  width: 90%;
  background-color: #4CAF50; }

/* line 1009, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.css {
  width: 80%;
  background-color: #2196F3; }

/* line 1014, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.js {
  width: 65%;
  background-color: #f44336; }

/* line 1019, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.java {
  width: 80%;
  background-color: #808080; }

/* entire container, keeps perspective */
/* line 1028, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flip-container {
  perspective: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

/* flip the pane when hovered */
/* line 1038, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }
  /* line 1043, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .flip-container:hover .flipper .front,
  .flip-container.hover .flipper .front {
    opacity: 0; }

/* line 1048, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flip-container,
.front,
.back {
  width: 320px;
  height: 320px;
  border-radius: 5px; }

/* line 1056, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.back > h2 {
  font-size: 18px;
  margin: 10px;
  color: rgba(28, 49, 68, 0.92);
  text-align: center; }

/* flip speed goes here */
/* line 1065, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
/* line 1075, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
/* line 1087, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  background-color: black; }

/* line 1097, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front > h2 {
  text-align: center;
  margin-top: 200px;
  text-shadow: 0px 0px 10px #969696; }

/* line 1103, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front > span {
  position: relative;
  top: 15px;
  margin-left: 5px;
  background-color: white;
  color: darkslategrey;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); }

/* line 1115, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.front > span:first-child {
  margin-left: 10px; }

/* back, initially hidden pane */
/* line 1122, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.back {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background-color: aliceblue;
  padding: 10px;
  color: #1C3144;
  z-index: 9999999; }

/* line 1133, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(1) > div:nth-child(2) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/drone.svg); }

/* line 1138, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
article > div > div:nth-child(1) > div:nth-child(3) > div > div.front {
  background-color: ghostwhite;
  background-image: url(../assets/img/app.png);
  background-size: cover;
  background-position: center; }

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 1149, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul {
  padding: 50px 0; }

/* line 1154, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #102E4A;
  line-height: 1em;
  text-align: left; }

/* line 1165, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li p {
  margin-bottom: 0px; }

/* line 1169, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

/* line 1174, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li img {
  height: 60px;
  border-radius: 5px;
  float: right;
  margin-top: -20px;
  margin-left: 5px; }

/* line 1182, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit; }

/* line 1194, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 10px;
  padding-bottom: 20px;
  background: aliceblue;
  border-radius: 5px;
  min-height: 80px; }

/* line 1207, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid; }

/* line 1216, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(odd) div {
  left: 45px; }

/* line 1220, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent aliceblue transparent transparent; }

/* line 1226, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(even) div {
  left: -390px; }

/* line 1230, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent aliceblue; }

/* line 1236, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px; }

/* timeline EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 1247, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li::after {
  transition: background .5s ease-in-out; }

/* line 1251, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
.timeline ul li.in-view::after {
  background: orange; }

/*

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

*/
/* timeline responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 800px) {
  /* line 1283, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li div {
    width: 250px; }
  /* line 1286, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li:nth-child(even) div {
    left: -290px; } }

@media screen and (max-width: 600px) {
  /* line 1292, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li {
    margin-left: 20px; }
  /* line 1295, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li div {
    width: calc(100vw - 91px);
    padding-bottom: 20px; }
  /* line 1299, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li:nth-child(even) div {
    left: 45px; }
  /* line 1302, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent aliceblue transparent transparent; } }

@media screen and (max-width: 400px) {
  /* line 1310, /Users/troelslund/Documents/trolund.github.io/sass/app.scss */
  .timeline ul li div {
    padding-bottom: 10px; } }

/*# sourceMappingURL=app.css.map */
