$headerheigt: 500px;
$font-stack: Helvetica,
sans-serif;
$font-two: 'Gloria Hallelujah',
cursive;
$primary-color: #333;
$footerheight: 200px;

$colorligterblue: #224c72;
$colordarkblue: #1C3144;
$colordarkblueRGB: rgba(28, 49, 68, 0.92);
$colorcyan: #D6FFF6;
$colortur: #4DCCBD;
$colorAzureblue: #39A0ED;
$colorsemidarkblue: #102E4A;

/* google fonts imported: 

    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Alfa Slab One', cursive;
    
*/

body {
    margin: 0px;
}

header {
    width: 100%;
    height: $headerheigt; //    background-image: url("../assets/img/thumb-1920-467160.jpg");
    background-image: url("/assets/img/bg.png");
    background-color: $colordarkblueRGB;
    background-position: center;
    background-size: cover;
    clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity op 0.5s;
    transition-delay: 0.1s;
    transition: all 0.2;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    top: 0px;
    margin-top: 0px;
}

header h1,
h3 {
    font-family: $font-stack;
    line-height: 1em;
    margin-top: 20px;
    text-align: center;
    margin-top: 70px;
    color: #fff !important;
    /*text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.8);*/
}

header h1 {
    font-size: 4em;
}

header h3 {
    font-size: 2em;
}

header nav {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-stack;
    line-height: 1em;
    text-align: center;
    color: gray;
}

header > div {
    //        padding: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.round {
    border-radius: 50%;
}

#nav {
    height: 50px;
    color: #fff;
    font-family: $font-stack;
    transition: all .2s ease;
    padding: 5px;
    text-decoration: none;
    line-height: 35px;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

#navUl {
    list-style-type: none;
    display: inline !important;
    z-index: 9999;
}

#navUl li {
    display: block;
    width: auto;
    display: inline !important;
}

#navUl li::after {
    padding: 10px;
    content: "I";
}


#navUl li:last-child::after {
    padding: 0px;
    content: none;
}


//        nav>a::before {
//        content: 'I ';
//    }
//    
//    nav>a:first-child::before {
//        content: '';
//    }
nav a {
    color: aliceblue;
    transition: all 0.2s;

}

nav a:hover {
    color: ivory;
    background-blend-mode: hard-light;
    text-decoration: none;
}

.menuBox {}

.displayMobilMenu {
    display: block !important !important;
}

// menu icon start
.containerMenuIcon {
    display: inline-block;
    cursor: pointer;
    display: none;
    opacity: 0;
    mix-blend-mode: normal;
    transition: all 0.5s;
}

.mobilNav {
    position: fixed;
    top: 0px;
    opacity: 1;
    height: 45px;
    width: 100%;
    z-index: 9998;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;

}

.mobilNav a {
    padding: 6px;
}

.mobilNav {
    text-align: center;
    display: inline-block;
    background-color: $colordarkblueRGB;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.mobilNav ul {
    margin-top: 10px;
    list-style-type: none;
    display: inline-flex;
    overflow: hidden;
    text-decoration: none;
}

.mobilNav ul li::after {
    content: "I";
    margin-left: 5px;
    margin-right: 5px;
    color: aliceblue;
}

.mobilNav ul li:last-child::after {
    content: "";
    margin-left: 0px;
    margin-right: 0px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); //mix-blend-mode: darken;
    ;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

// menu icon stop
.profilimg {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    background-image: url('/assets/img/profil.png');
    background-position: center;
    background-size: cover; //    -webkit-box-shadow: 3px 3px 30px -2px rgba(49, 50, 50, 0.75);
    //    -moz-box-shadow: 3px 3px 30px -2px rgba(49, 50, 50, 0.75);
    //    box-shadow: 3px 3px 30px -2px rgba(49, 50, 50, 0.75);
    border: 10px #fff solid; //  box-shadow: 0 0 0 1px #ccc;
    margin-top: -180px;
    z-index: 999;
    position: relative;
    display: block;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0 0 1px rgba(0,
    0,
    0,
    0);
}

$radiusCard: 5px;

.profilimg:hover {
    border: $radiusCard #ccc solid;
}

.aboutImg {
    width: 100%;
    border-top-left-radius: $radiusCard;
    border-top-right-radius: $radiusCard;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card-body {
    padding: 10px;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card {
    //border: solid 1px $colordarkblue;
    border-radius: $radiusCard;
    float: left;
    max-width: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover img {
    opacity: 0.3;
}

.card:hover .middle {
    opacity: 1;
}

$shadowX: 0px;
$shadowY: 5px;
$shadowBlur: 10px;
$shadowOp: 0.2;

.circleShadow {
    box-shadow: $shadowX $shadowY $shadowBlur rgba(0, 0, 0, $shadowOp);
    -moz-box-shadow: $shadowX $shadowY $shadowBlur rgba(0, 0, 0, $shadowOp);
    -webkit-box-shadow: $shadowX $shadowY $shadowBlur rgba(0, 0, 0, $shadowOp);
    -o-box-shadow: $shadowX $shadowY $shadowBlur rgba(0, 0, 0, $shadowOp);
}

.newsContainer > div:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.newsContainer > div:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

main {
    height: auto;
    width: 100%;
}

.somedia {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 105px;
    font-size: 2.2em;
    transform: rotate(0deg);
    color: black;
    transform: rotate(0deg);
    bottom: -0px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.somedia a {
    color: #A9A9A9;
}

.somedia i {
    transform: rotate(0deg);
    height: 29px;
    width: 29px;
    z-index: 800;
    transition: all 0.3s;
}

.somedia i:hover {
    cursor: pointer;
}

.somedia i[class*="facebook"]:hover {
    color: #3B5998;
}

.somedia i[class*="github"]:hover {
    color: #c9510c;
}

.somedia i[class*="linkedin"]:hover {
    color: #0077B5;
}

.somedia i[class*="insta"]:hover {
    color: #d6249f;
}

main article {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

main {
    margin-top: 100px;
}

#AboutMe > h1 {
    margin-top: 120px;
}

main > article:first-child {
    margin-top: -80px;
}

.footerbuffer {
    height: $footerheight;
}

footer {
    margin-top: 50px;
    min-height: 100px;
    background-color: #ccc;
    position: relative;
    left: 0px;
    bottom: 0px;
    height: $footerheight;
    background: $colordarkblue;
    width: 100%;
}

.footerMedia {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    position: relative;
    width: 132px;
    font-size: 2.2em;
    transition: all 0.3s;
}

.footerMedia i:hover {
    cursor: pointer;
}

.footerMedia i[class*="facebook"]:hover {
    color: #3B5998;
}

.footerMedia i[class*="github"]:hover {
    color: #6e5494;
}

.footerMedia i[class*="youtube"]:hover {
    color: #c4302b;
}

.footerMedia i[class*="insta"]:hover {
    color: #d6249f;
}

.footerFooter {
    bottom: -110px;
    position: relative;
    height: 50px;
    width: 100%;
    font-family: $font-stack;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.farvebg {
    background-color: $colorsemidarkblue;
    color: #fff;
    padding: 25px;
    min-height: 400;
}

.farvebg2 {
    background-color: $colorligterblue;
    color: #fff;
    padding: 25px;
    min-height: 400;
}



.fixedMenu {
    position: fixed;
    top: 0px;
    opacity: 1;
    height: 65px;
    transition: .2 all ease;
    animation-name: mobilMenu;
    animation-duration: 0.2s;
    z-index: 9999;
    background-image: none;
    clip-path: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fixedMenu nav {
    margin-top: 8px;
}

#projects {
    padding-top: 80px;
    padding-bottom: 80px;
}

form p {
    margin-bottom: -15px;
    margin-top: 10px;
}

form input[type="text"] {
    border-radius: 5px;
    border: 1px solid lightblue;
    padding: 5px;
    background-color: ghostwhite;
}

form textarea {
    border-radius: 5px;
    border: 1px solid lightblue;
    padding: 5px;
    background-color: ghostwhite;
    height: 150px;
    width: 250px;
    max-height: 300px;
    max-width: 700px;
}

form input[type="submit"] {
    border-radius: 5px;
    border: 1px solid lightblue;
    padding: 5px;
    background-color: ghostwhite;
    transition: all 0.3s;
}

form input[type="submit"]:hover {
    border-radius: 5px;
    border: 1px solid darkblue;
    padding: 5px;
    background-color: darkgray;
}

.borderRadius {
    border-radius: 5px;
}

#goToTopBut {
    width: 50px;
    height: 50px;
    background-color: darkslategrey;
    bottom: 0px;
    right: 20px;
    position: fixed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#goToTopBut img {
    width: 30px;
    height: 30px;
}

.newsContainer {
    display: flex;
    width: 100%;
    max-width: 800px;
    color: white;

}

.newsContainer h3 {
    color: white !important;
}

.newsContainer > div {
    min-height: 250px;
    transition: all 0.2s;
    overflow: hidden;
    max-height: 250px;
    display: inline;
}

.newsContainer > div > div:first-child {
    white-space: nowrap;
    float: left;
    width: 50px;
    height: 250px;
    overflow: hidden;
    vertical-align: middle;
    padding: 15px;
}

.content {
    float: right;
    position: relative;
    width: calc(100% - 60px) !important;
    padding: 10px;
}

.newsContainer > div > div:first-child h2 {
    transform: rotate(-90deg);
    transform-origin: bottom right;
    margin-left: -135px;
    text-align: left;
}

.newsContainer > div:nth-child(1) {
    //background-image: url('../assets/img/pattern%20(5).svg');
    background-color: $colordarkblue;
}

.newsContainer > div:nth-child(2) {
    // background-image: url('../assets/img/pattern%20(6).svg');
    background-color: $colorsemidarkblue;
}

.newsContainer > div:nth-child(2) img {
    width: 100%;
    text-align: center;
    margin-right: -40px;
    max-height: 180px;
}

.newsContainer > div:nth-child(3) {
    // background-image: url('../assets/img/pattern%20(9).svg');
    background-color: $colorligterblue;
    width: 100%;
}

//#accordion {
//    list-style: none;
//    margin: 30px 0;
//    padding: 0;
//    height: 200px;
//    overflow: hidden;
//    background: #7d8d96;
//}
//
//#accordion li {
//    float: left;
//    border-left: solid 5px black;
//    display: block;
//    height: 170px;
//    width: 50px;
//    padding: 15px 0;
//    overflow: hidden;
//    color: #fff;
//    text-decoration: none;
//    font-size: 16px;
//    line-height: 1.5em;
//    border-left: 1px solid #fff;
//}
//
//#accordion li img {
//    border: none;
//    border-right: 1px solid #fff;
//    float: left;
//    margin: -15px 15px 0 0;
//}
//
//#accordion li.active {
//    width: 450px;
//}
@keyframes mobilMenu {
    from {
        top: -25px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes ani {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ani2 {
    from {
        opacity: 0;
        background-blend-mode: overlay;
    }
    to {
        opacity: 1;
        background-blend-mode: normal;
    }
}

@keyframes spin {
    0% {
        border: 2px #fff solid;
        opacity: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
        border: 10px #fff solid;
    }
}

.ani {
    animation-name: ani;
    animation-duration: 0.9s;
}

.ani2 {
    animation-name: ani2;
    animation-duration: 1.4s;
}

.ani3 {
    animation-name: ani;
    animation-duration: 0.2s;
}

.ani4 {
    animation-name: spin;
    animation-duration: 0.8s;
}

.fixedMenu h1 {
    display: none;
}

.fixedMenu h3 {
    display: none;
}

.displayNone {
    opacity: 0;
    display: none;
}

.list {
    list-style: circle;
    list-style-type: armenian;
    list-style-position: outside;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.space {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    transition-delay: 0.1;
}

#titel {
    font-family: 'Gloria Hallelujah', cursive; //    font-family: 'Poiret One', cursive;
    //    font-family: 'Alfa Slab One', cursive;
}

//    
#name {
    //font-family: 'Gloria Hallelujah', cursive;
    //font-family: 'Poiret One', cursive;
    //font-family: 'Alfa Slab One', cursive;
    font-family: 'Paytone One', sans-serif;
}

//    
.blend {}

.activeLink {
    color: orange;
    font-weight: bold;
    transition: 0.2 all;
    font-size: 1.1em; // text-decoration: underline;
}

.mobilNav {
    display: none;

}



/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
    $headerheigt: 400px;
    header {
        height: $headerheigt;
    }
    header h1,
    h3 {
        margin-top: 50px;
    }
    header h1 {
        font-size: 3em;
    }
    header h3 {
        font-size: 2em;
    }
    .profilimg {
        height: 150px;
        width: 150px;
        margin-top: -130px;
    }
    /*
    .somedia {
        left: 160px;
        bottom: 50px;
    }
    */
    .fixedMenu {
        height: 75px;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    $headerheigt: 300px;
    header {
        height: $headerheigt;
    }
    header h1,
    h3 {
        margin-top: 30px;
    }
    header h1 {
        font-size: 2em;
    }
    header h3 {
        font-size: 1em;
    }
    .profilimg {
        height: 150px;
        width: 150px;
        margin-top: -130px;
    }
    /*
    .somedia {
        left: 160px;
        bottom: 50px;
    }
    */
    .fixedMenu {
        height: 70px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    $headerheigt: 260px;
    header {
        height: $headerheigt;
    }
    header h1,
    h3 {
        margin-top: 20px;
    }
    header h1 {
        font-size: 2em;
    }
    header h3 {
        font-size: 1em;
    }
    .profilimg {
        height: 150px;
        width: 150px;
        margin-top: -130px;
    }

    #name {
        margin-top: -12px;
    }
    /*
    .somedia {
        transform: rotate(0deg);
        left: 20px;
        bottom: -0px;
    }
    .somedia > i {
        transform: rotate(0deg);
    }
    */
    .fixedMenu {
        height: 65px;

    }
}

@media all and (max-width: 480px) {
    $headerheigt: 260px;
    header {
        height: $headerheigt;
    }
    header h1,
    h3 {
        margin-top: 20px;
    }
    header h1 {
        font-size: 2em;
    }
    header h3 {
        font-size: 1em;
    }
    .profilimg {
        height: 150px;
        width: 150px;
        margin-top: -130px;
    }

    .imgdata {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    /*
    .somedia {
        transform: rotate(0deg);
        left: 20px;
        bottom: -10px;
    }
    .somedia > i {
        transform: rotate(0deg);
    }
    */
    .fixedMenu {
        height: 60px;


    }
    .card {
        max-width: 190px;
    }
}


/* Portrait */

@media screen and (orientation:portrait) {
    /* Portrait styles here */
}


/* Landscape */

@media screen and (orientation:landscape) {
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}


/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation:portrait) {
    header {
        clip-path: none;
    }

    article {
        padding-left: 0px;
    }

    .card {
        max-width: 100%;
    }
}


/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation:landscape) {
    header {
        clip-path: none;
    }
}


/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation:portrait) {}


/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation:landscape) {}


/* timeline */

* {
    box-sizing: border-box;
}

/* Set a background color */

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}


/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    padding: 20px 30px;
    /* background-color: white;*/
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 800px) {

    .nyhedsart {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    #name,
    #titel {}

    #name {
        margin-top: -12px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }


    .containerMenuIcon {
        position: fixed;
        display: block;
        opacity: 1;
        right: 15px;
        top: 5px;
        z-index: 9999;
        transition: all 0.5s;
    }


    .mobilNav {
        display: block;
        height: auto;
    }

    .mobilNav ul {
        list-style-type: none;
        display: block;
        padding: 0px;
    }

    .mobilNav ul li::after {
        content: "";
        margin: 0px;
    }




    #navUl {
        position: relative;
        transition: all 0.5s;
        display: none !important;
    }


}




.Skillscontainer {
    width: calc(100% -100px);
    background-color: #ddd;
    padding: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 5px;
    margin-bottom: 10px;

}

.skills {
    text-align: right;
    padding-right: 20px;
    margin-left: 0px;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}

.html {
    width: 90%;
    background-color: #4CAF50;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.js {
    width: 65%;
    background-color: #f44336;
}

.java {
    width: 80%;
    background-color: #808080;
}

.python {
    width: 20%;
    background-color: orange;
}


// flip cards
/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    .front {
        //opacity: 0;
        z-index: 1;
    }
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 320px;
    border-radius: 5px;
}

.back > h2 {
    font-size: 18px;
    margin: 10px;
    color: $colordarkblueRGB;
    text-align: center;
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    background-color: black;
}


.front > h2 {
    text-align: center;
    margin-top: 200px;
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

.front > span {
    position: relative;
    top: 15px;
    margin-left: 5px;
    background-color: white;
    color: darkslategrey;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

}

.front > span:first-child {
    margin-left: 10px;
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-color: aliceblue;
    padding: 10px;
    color: $colordarkblue;
    z-index: 9999999;
}


article > div > div:nth-child(1) > div:nth-child(2) > div > div.front {
    background-color: ghostwhite;
    background-image: url(../assets/img/drone.svg);
}

article > div > div:nth-child(1) > div:nth-child(3) > div > div.front {
    background-color: ghostwhite;
    background-image: url(../assets/img/app.png);
    background-size: cover;
    background-position: center;
}

article > div > div:nth-child(2) > div:nth-child(2) > div > div.front {
    background-color: ghostwhite;
    background-image: url(../assets/img/webside.png);
    background-position: center;
    background-size: cover;
}

article > div > div:nth-child(1) > div:nth-child(4) > div > div.front {
    background-color: ghostwhite;
    background-image: url(../assets/img/motionD.jpg);
    background-position: center;
    background-size: cover;
}

article > div > div:nth-child(2) > div:nth-child(3) > div > div.front {
    background-color: ghostwhite;
    background-image: url(../assets/img/ping.png);
    background-position: center;
    background-size: cover;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    // background: #456990;
    padding: 50px 0;
    color: black;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: $colorsemidarkblue;
    line-height: 1em;
    text-align: left;
    color: black;
}

.timeline ul li p {
    margin-bottom: 0px;
}

.timeline ul li:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.timeline ul li img {
    height: 60px;
    border-radius: 5px;
    float: right;
    margin-top: -20px;
    margin-left: 5px;
}


.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}


.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 350px;
    padding: 10px;
    padding-bottom: 20px;
    background: aliceblue;
    border-radius: 5px;
    min-height: 80px;
}

.kursusList ul {
    list-style: none;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent aliceblue transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -390px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent aliceblue;
}

.timeline ul li:nth-child(5) div ul {}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.firstsemester,
.secsemester,
.trisemester {
    position: relative;
    top: 30px;
}

.firstsemester::after,
.secsemester::after,
.trisemester::after,
.firesemester::after {
    position: relative;
    content: '_';
    opacity: 0;
}

/* timeline EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: orange;
}

/*

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

*/

/* timeline responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 800px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -290px;
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 130px);
        padding-bottom: 20px;
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent aliceblue transparent transparent;
    }
}

@media screen and (max-width: 400px) {
    .timeline ul li div {
        padding-bottom: 10px;
    }

    .flip-container {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 270px;
        height: 270px;
        margin-right: auto;
    }

    .front {
        width: 270px;
        height: 270px;
    }

    .front > h2 {
        text-align: center;
        margin-top: 50%;
    }

    .back {
        width: 270px;
        height: 270px;
        overflow: scroll;
    }

    .timeline ul {
        margin-left: -20px;
    }
}

@media screen and (max-width: 350px) {
    .timeline ul li div {
        padding: 5px;
    }

    .flip-container {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 260px;
        height: 260px;
        margin-left: 0px
    }

    .front {
        width: 260px;
        height: 260px;
    }

    .front > h2 {
        text-align: center;
        margin-top: 40%;
    }

    .back {
        width: 260px;
        height: 260px;
        overflow: scroll;
    }

    .timeline ul {
        margin-left: auto;
    }
}

@media screen and (max-width: 320px) {
    .timeline ul li div {
        padding: 5px;
    }

    .flip-container {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 230px;
        height: 230px;
        margin-left: -13px
    }

    .front {
        width: 230px;
        height: 230px;
    }

    .front > h2 {
        text-align: center;
        margin-top: 40%;
    }

    .back {
        width: 230px;
        height: 230px;
        overflow: scroll;
    }

    .timeline ul {
        margin-left: -25px;
    }
}
