.container {
    height: calc(100vh - calc(var(--menu-height) + 20px));
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--content-text);
  }

.textfocusin {
      animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      animation-delay: 0.9s;
}

.textfocusin2 {
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation-delay: 2.1s;
}

.overLay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--gradient);
  mix-blend-mode: color;
}

.bounceintop {
	    animation: bounce-in-top 1.1s both;
}

.wave {
      filter: grayscale(1) contrast(200%);
      transform-origin: 70% 70%;
      display: inline-block;
      animation: wave 1.5s ease-out both;
      animation-delay: 2.1s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce-in-top-shadow {
  0% {
    opacity: 0;
    filter: blur(300px);
  }
  38% {
    opacity: 0.5;
    filter: blur(15px);
  }
  55% {
    opacity: 0.1;
    filter: blur(90px);
  }
  72% {
    opacity: 0.5;
    filter: blur(15px);
  }
  81% {
    opacity: 0.2;
    filter: blur(70px);
  }
  90% {
    opacity: 0.5;
    filter: blur(15px);
  }
  95% {
    opacity: 0.3;
    filter: blur(30px);
  }
  100% {
    opacity: 0.5;
    filter: blur(15px);
  }
}


 @keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* @keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
    background-clip: ;
  }
} */

@keyframes hue-ani {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes bg-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


  .shadowFilter {
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
    height: calc(100vh - calc(var(--menu-height) + 20px));
  }

  .colorOne {
    user-select: none;
    max-width: 100vw;
    /* height: calc(100vh + env(safe-area-inset-top) + env(safe-area-inset-bottom)); */
    /* animation: bg-ani 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: 0.0s; */
    /* background-color: rgb(22, 22, 22); */
    /* background: rgb(0,16,22);
    background: linear-gradient(157deg, rgba(0,16,22,1) 0%, rgba(17,26,52,1) 69%, rgba(0,44,52,1) 100%); */
    /* clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%); */
    /* background-color: #002034; */
    /* background-image: var(--bg-img); */
    background-attachment: fixed;
    background-size: cover;
    /* animation: animatedBackground .2s linear infinite alternate; */

    /* background: var(--gradient); */
    /* background-blend-mode: overlay; */

    animation: hue-ani 20s ease-out both;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition: all 0.2s ease-in-out;

  }

  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    .colorOne {
      background-attachment:scroll;
      transition: all 0.2s ease-in-out;
    }
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    /* color: #0070f3; */
    text-decoration: none;
  }

  .title b {
    /* color: #0070f3; */
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }

@media only screen and (max-width: 600px) {
    .title {
      font-size: 3rem;
    }

    .description {
      font-size: 1rem !important;
    }
}
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }

  .grid a h3 {
    margin: 0px;
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
  }

.profile {
    position: relative;
    background-color: rgba(245, 245, 245, 0.356);
    background-image: url("../../public/profil.webp");
    background-size: cover;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.822) 5px solid;
    width: 200px;
    height: 200px;
    margin: 25px;
    transform: scale(1);
    transition: all 0.2s, ease-in-out;
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }

.profile:hover {
  transform: scale(1.2);
}

.shadow {
    content: "";
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    transform: translateX(30px);
    filter: blur(15px);
    animation: bounce-in-top-shadow 1.1s both;
    position: absolute;
    z-index: -1;  /* to be below the parent element */
}

@media only screen and (max-width: 600px) {
    .profile {
      max-width: 200px;
      max-height: 200px;

      --dim: calc(100vw - 160px);
      
      width: var(--dim);
      height: var(--dim);
    }

    .shadow {
      width: calc(100vw - 160px);
      max-height: 40px;
      height: 40px;
      width: calc(100vw - 160px);

    }
}


  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      margin-top: 0rem;
      flex-direction: column;
      transform: scale(0.6) translateY(-150px);
    }
  }

  @keyframes ball {
    0% {
      width: 0;
      height: 0;
      transform: translate(0, 0);
    }
    10% {
      height: 100vh;
      width: 100vw;
      transform: translate(calc(-100vw/2), calc(-100vh/2));
    }
  }

  .ball {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: deeppink;
    animation: ball 1s linear infinite !important;
    animation-play-state: paused !important;
    /* animation-delay: calc(var(--scroll) * -1s) !important; */
    animation-delay: 0s;
  }
  