$font-stack: Helvetica,
sans-serif;
$primary-color: #333;
body {
    margin: 0px;
}

header {
    position: relative;
    height: 300px;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    background-image: url("../img/algo.JPG");
    background-position: center;
    background-size: auto;
    clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.round {
    border-radius: 50%;
}

.profilimg {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
