@media only screen and (max-width: 800px) {
    .container h4 {  font-size: 0.7rem; }
    .container i, .container p  {  
        font-size: 0.6rem; 
        word-break: break-word;
    }
    .container svg {
        max-width: 15px;
        max-height: 15px;
    }
    .year {
        transform: translate(-35px, 20px) !important;
        font-size: 0.5rem;
    }
    .icon {
        max-width: 15px;
        max-height: 15px;
        transform: translate(-35px, 50px) !important;
    }
  }


@media only screen and (max-width: 1100px) {
    .container {  max-width: 3%; }
    .container h4 {  font-size: 0.8rem; }
    .container i, .container p  {  font-size: 0.6rem; }
  }


@media only screen and (max-width: 1200px) {
    .container {  max-width: 5%; padding: 5px; }
    .container h4 {  font-size: 0.9rem; }
    .container i, .container p  {  font-size: 0.7rem; }
    .container svg {
        max-width: 20px;
        max-height: 20px;
    }
    .year {
        transform: translate(-40px, 10px);
    }
    .icon {
        max-width: 20px;
        max-height: 20px;
        transform: translate(-40px, 40px);
    }
  }

  .container {
    opacity: 0;
}

@media only screen and (max-width: 680px) {

    .container {
        display: block !important;
        animation: reveal-bottom !important;
        width: 100% !important;
        height: 100% !important;
        opacity: 1 !important;
        left: auto;
        position: revert !important;
        margin: 20px;
        max-width: 250px !important;
        transform: translateX(30px) !important;
    }

}

/* prom */
@keyframes event-even {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateY(-50px);
    }
    60% {
        opacity: 1;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes event-odd {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateY(50px);
    }
    60% {
        opacity: 1;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal-bottom {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
        transform: translateY(-50px);
    }
    60% {
        opacity: 0.5;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
    }
}

.container {
    position: absolute;
    opacity: 0;
    max-width: 15%;
    color: var(--content-text);
}

.container:nth-child(odd) {
    animation: event-odd 1s linear infinite;
    animation-play-state: paused;
    transform: translateY(80px);
}

.container:nth-child(even) {
    animation: event-even 1s linear infinite;
    animation-play-state: paused;
    transform: translateY(-80px);
}

.year {
    position: absolute;
    transform: translate(-50px, 0px);
    opacity: 0.8;
}

.icon {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50px, 30px);
    opacity: 0.8;
}

.blob {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: darkgreen;
}