.svg {
  height: 150px;
  width: 150px;
  margin: 15px;
  clip-path: url(#my-clip-path);
  background-size: cover;
  background-image: var(--bg-img);
}

.svg2 {
  height: 150px;
  width: 100vw;
  margin: 15px;
  clip-path: url(#path);
  background-size: cover;
  background-image: var(--bg-img);
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  /* height: var(--footer-height);
    max-height: 200vh; */
  border: 0px;
  background-color: var(--footer);
  border-top: var(--border-color) solid 1px;
  background-image: url(../../public/assets/brackets.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-blend-mode: difference;
}

.bottom {
  padding-bottom: 10px;
  text-align: center;
  font-weight: 200;
  font-size: 11px;
  margin-top: -1px;
  color: var(--content-text);
}

.icons a {
  display: inline-block;
  margin-right: 1rem;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.icons a:hover {
  transform: scale(1.2);
}

.icons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
}

.list li {
  list-style: none;
  padding: 1rem 0rem 0rem 0rem;

  height: 3rem;
}

.list li {
  border-bottom: dashed var(--border-color) 1px;
}

.list li:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  .box {
    border: none !important;
    height: auto !important;
    margin-top: 40px !important;
    margin-bottom: 10px !important;
  }
}

.box {
  border-right: var(--border-color) 1px solid;
  margin-top: 50px;
  margin-bottom: 50px;
  height: calc(var(--footer-height) - 100px);
}

.box:last-child {
  border-right: none;
}

.links {
  float: left;
}

.links li {
  padding-top: 0.5rem;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  font-weight: 300;
}

.links li:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.footer h4 {
  font-weight: 700;
  font-size: 1.2rem;
}
