.textContainer {
    /* background-image: var(--bg-img);
    background-size: cover; */
    font-size: 1rem;
    /* font-weight: 800; */
   /* background-clip: text; 
    color: transparent;  */
    white-space: pre-line;
}

@keyframes animatedBackground {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.underscore {
    animation: animatedBackground 0.5s linear infinite alternate;
}